<section class="catalog" id="catalog">
  <div class="container">
                <h2 class="catalog-title">Catalog</h2>
                <ul class="catalog-list">
                    <li class="catalog-li">
                        <div class="catalog-div">
                            <picture>
                                <source media="(min-width: 1158px)" 
                                srcset="/rodl-temp/assets/catalog-fenix7x-Dk1zJnkZ.webp 1x, /rodl-temp/assets/catalog-fenix7x@2x-CjtIl8Jo.webp 2x">
                                <source media="(min-width: 768px)" 
                                srcset="/rodl-temp/assets/tablet-catalog-fenix7x-2qId_1TC.webp 1x, /rodl-temp/assets/tablet-catalog-fenix7x@2x-B4O_CjrM.webp 2x">
                                <source media="(max-width: 767px)" 
                                srcset="/rodl-temp/assets/mobile-catalog-fenix7x-BRrW-3Rn.webp 1x, /rodl-temp/assets/mobile-catalog-fenix7x@2x-D6cM6_7J.webp 2x">
                                <img class="catalog-img" src="/rodl-temp/assets/catalog-fenix7x-Dk1zJnkZ.webp" alt="Garmin Fenix 7X Pro Sapphire Solar " width="292" height="292">
                            </picture>                     
                        </div>
                        <div class="catalog-text">
                                <h3 class="catalog-name">Garmin Fenix 7X Pro Sapphire Solar</h3>
                                <p class="catalog-price">€500</p>
                        </div>    
                    </li>

                    <li class="catalog-li">
                        <div class="catalog-top">
                            <picture>
                                <source media="(min-width: 1158px)" 
                                srcset="/rodl-temp/assets/catalog-marq-DerLzC9q.webp 1x, /rodl-temp/assets/catalog-marq@2x-BZ1t4bw0.webp 2x">
                                <source media="(min-width: 768px)" 
                                srcset="/rodl-temp/assets/tablet-catalog-marq-BxedGWqk.webp 1x, /rodl-temp/assets/tablet-catalog-marq@2x-B7dm-9-Z.webp 2x">
                                <source media="(max-width: 767px)" 
                                srcset="/rodl-temp/assets/mobile-catalog-marq-m-IoV0pF.webp 1x, /rodl-temp/assets/mobile-catalog-marq@2x-CHCMsMSy.webp 2x">
                                <img class="catalog-img" src="/rodl-temp/assets/catalog-marq-DerLzC9q.webp" alt="Garmin Marq Athlete" width="292" height="292">
                            </picture>                      
                        </div>
                        <div class="catalog-text">
                            <h3 class="catalog-name">Garmin Marq Athlete</h3>
                            <p class="catalog-price">€450</p>
                        </div>
                    </li>
                    <li class="catalog-li">
                        <div class="catalog-top">
                            <picture>
                                <source media="(min-width: 1158px)" 
                                srcset="/rodl-temp/assets/catalog-descent-DyHp5hMy.webp 1x, /rodl-temp/assets/catalog-descent@2x-BYn35dDk.webp 2x">
                                <source media="(min-width: 768px)" 
                                srcset="/rodl-temp/assets/tablet-catalog-descent-BtgCDekD.webp 1x, /rodl-temp/assets/tablet-catalog-descent@2x-CSFvPQwv.webp 2x">
                                <source media="(max-width: 767px)" 
                                srcset="/rodl-temp/assets/mobile-catalog-descent-AauTyvy7.webp 1x, /rodl-temp/assets/mobile-catalog-descent-AauTyvy7.webp 2x">
                                <img class="catalog-img" src="/rodl-temp/assets/catalog-descent-DyHp5hMy.webp" alt="Garmin Descent MK1" width="292" height="292">
                            </picture>                    
                        </div>
                        <div class="catalog-text">
                            <h3 class="catalog-name">Garmin Descent MK1 </h3>
                            <p class="catalog-price">€680</p>
                        </div>
                    </li>        
        
                    <li class="catalog-li">
                        <div class="catalog-top">
                            <picture>
                                <source media="(min-width: 1158px)" 
                                srcset="/rodl-temp/assets/catalog-delta-DKHuWD9W.webp 1x, /images/catalog/catalog-delta@2x.webp 2x">
                                <source media="(min-width: 768px)" 
                                srcset="/rodl-temp/assets/tablet-catalog-delta-gs1Gk5r1.webp 1x, /rodl-temp/assets/tablet-catalog-delta@2x-BiA5zDX2.webp 2x">
                                <source media="(max-width: 767px)" 
                                srcset="/rodl-temp/assets/mobile-catalog-delta-C-AZGPde.webp 1x, /rodl-temp/assets/mobile-catalog-delta@2x-h4YxXZEC.webp 2x">
                                <img class="catalog-img" src="/rodl-temp/assets/catalog-delta-DKHuWD9W.webp" alt="Garmin D2 Delta PX" width="292" height="292">
                            </picture>                     
                        </div>
                        <div class="catalog-text">
                            <h3 class="catalog-name">Garmin D2 Delta PX</h3>
                            <p class="catalog-price">€380</p>
                        </div>
                    </li>
                    <li class="catalog-li  catalog-mobile">
                        <div class="catalog-top ">
                            <picture>
                                <source media="(min-width: 1158px)" 
                                srcset="/rodl-temp/assets/catalog-fenix6-n20Zpfiy.webp 1x, /rodl-temp/assets/catalog-fenix6@2x-Cd-7913g.webp 2x">
                                <source media="(min-width: 768px)" 
                                srcset="/rodl-temp/assets/tablet-catalog-fenix6-DVIARy1k.webp 1x, /rodl-temp/assets/tablet-catalog-fenix6@2x-C4M8kLbD.webp 2x">
                                <img src="/rodl-temp/assets/catalog-fenix6-n20Zpfiy.webp" alt="Garmin Fenix 6 Pro Solar" width="304" height="312">
                            </picture>                     
                        </div>
                        <div class="catalog-text">
                            <h3 class="catalog-name">Garmin Fenix 6 Pro Solar</h3>
                            <p class="catalog-price">€400</p>
                        </div>
                    </li>
                    <li class="catalog-li  catalog-mobile">
                        <div class="catalog-top">
                            <picture>
                                <source media="(min-width: 1158px)" 
                                srcset="/rodl-temp/assets/catalog-tube-BgE4W-iI.webp 1x, /rodl-temp/assets/catalog-tube@2x-QYejODwT.webp 2x">
                                <source media="(min-width: 768px)" 
                                srcset="/rodl-temp/assets/tablet-catalog-tube-BNsdHlft.webp 1x, /rodl-temp/assets/tablet-catalog-tube@2x-DHB_5jh_.webp 2x"> 
                                <img src="/rodl-temp/assets/catalog-tube-BgE4W-iI.webp" alt="Tube Watch S42 Date Steel With Black Case" width="304" height="312">
                            </picture>                      
                        </div>
                        <div class="catalog-text">
                            <h3 class="catalog-name">Tube Watch S42 Date Steel With Black Case</h3>
                            <p class="catalog-price">€395</p>
                        </div>
                    </li>
                </ul>
                <button class="catalog-btn" type="button">Show more</button>
          </div>
        </section>

