
<section id="news" class="container">
    <h2 class="news-title">Останні новини</h2>
    <div id="news-list" class="news-grid"></div>
<!--
    <iframe
        src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2Freel%2F2192188001309307%2F&show_text=false&width=267&t=0"
        width="267" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"
        allow="clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true">
    </iframe>

    <img src="/images/news/2025.11.01/Журавльова.png">
    -->
</section>


<script>
  //import fs from 'fs';

  async function LoadNews() {
      console.log("Start");
      const data = await fetch("https://rodl-proxy.vercel.app/api/news/route").then(r => r.json());
      fs.writeFileSync('../public/news.json', JSON.stringify(data, null, 2));

      console.log(data);
    }

    LoadNews();

</script>
<!--
<script>
    
    const basePath = window.location.origin+"/rodl-temp"; // автоматично https://rivneoblchildhospital.gov.ua
    //const basePath = import.meta.env.BASE_URL; // автоматично /rodl-temp/ на GitHub
       
    async function loadNews() {
      //  const res = await fetch('https://script.google.com/macros/s/AKfycbxZg8iizYwUIGRxq7AUuVC6_pqV8eEdeJgvle4IFy65ieFpZbu6XchC1ITZm4Pb9kae/exec?key=rodl_news_2025_key');
      //  .then(r => r.json())
      //  .then(data => console.log(data));

      const res = await fetch("https://rodl-proxy.vercel.app/api/news/route");
        /*.then(r => r.json())
        .then(data => renderNews(data))
        .catch(console.error);*/

        const news = await res.json();
        const container = document.getElementById('news-list');

        //console.log(news);

        news.forEach((n, index) => {
            const item = document.createElement('div');
             const imgSrc = n["Фото preview"].trim().replace(/^\//, ""); // прибираємо початковий слеш
            item.className = 'news-item';
            item.innerHTML = `
      <img src="${basePath}/img/news/${imgSrc}" alt="${n["Заголовок"]}" class="news-thumb">
      <h3>${n["Заголовок"]}</h3>
      <p class="preview-text">${n["Текст preview"]}</p>
      <div class="news-footer">
        <span class="date">${new Date(n["Дата"]).toLocaleDateString("uk-UA")}</span>
        <a href="news.html?id=${index}" class="more-link">Докладніше →</a>
      </div>
    `;
            container.appendChild(item);
        });
    }
    loadNews();
</>-->