<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/rodl-temp/Logo.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Рівненська обласна дитяча лікарня</title>
  <link rel="stylesheet" crossorigin href="/rodl-temp/assets/styles-3caLVfaQ.css">
</head>
<body>
  <header class="header">
  <div class="container header-container">
    <a class="header-logo" href="../index.html">
      <img src="/rodl-temp/assets/LogoRODL-B1r0G9m2.png" alt="LogoRODL" width="88">
    </a>
    <nav class="header-nav">
      <ul class="header-ul">
        <li class="header-li">
          <a class="header-link-menu current" href="../index.html">Головна</a>
        </li>
        <li class="header-li">
          <a class="header-link-menu" href="#about-us">Про нас</a>
        </li>
        <li class="header-li">
          <a class="header-link-menu" href="partials/sectors.html">Відділення та центри</a>
        </li>
        <li class="header-li">
          <a class="header-link-menu" href="#contact-us">Контакти</a>
        </li>
      </ul>
    </nav>
    <ul class="social-media">
      <li class="social-media-list">
        <a
          class="social-media-link"
          href="https://www.facebook.com/RivneODL/  "
          target="_blank"
        >
          <svg class="media-svg" width="20" height="20">
            <use href="/rodl-temp/assets/icons-QvYT-8Ah.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-media-list">
        <a
          class="social-media-link"
          href="https://www.instagram.com/rivneodl/"
          target="_blank"
        >
          <svg class="media-svg" width="20" height="20">
            <use href="/rodl-temp/assets/icons-QvYT-8Ah.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
    <!--  <li class="social-media-list">
        <a
          class="social-media-link"
          href="https://www.youtube.com/c/GoIT "
          target="_blank"
        >
          <svg class="media-svg" width="20" height="20">
            <use href="/images/icons.svg#icon-Frame-60"></use>
          </svg>
        </a>
      </li>-->
    </ul>

    <!--Modal window-->

    <button
      class="btn-menu"
      type="button"
      aria-label="open mobile menu"
      data-menu-open
    >
      <svg class="btn-menu-svg">
        <use class="btn-menu-use" href="/rodl-temp/assets/icons-QvYT-8Ah.svg#icon-menu-fill"></use>
      </svg>
    </button>
  </div>
</header>
<div class="modal-menu" data-menu>
  <div class="container modal-menu-content">
    <button class="nav-close-btn" type="button" data-menu-close>
      <svg class="nav-svg-btn">
        <use class="nav-use-btn" href="/rodl-temp/assets/icons-QvYT-8Ah.svg#icon-X-strokes"></use>
      </svg>
    </button>
    <nav class="modal-nav">
      <ul class="modal-ul">
        <li class="modal-li">
          <a class="modal-link-menu current" href="./index.html">Home</a>
        </li>
        <li class="modal-li">
          <a class="modal-link-menu" href="#about-us">About us</a>
        </li>
        <li class="modal-li">
          <a class="modal-link-menu" href="#catalog">Catalog</a>
        </li>
        <li class="modal-li">
          <a class="modal-link-menu" href="#sale">Sale</a>
        </li>
        <li class="modal-li">
          <a class="modal-link-menu" href="#reviews">Reviews</a>
        </li>
        <li class="modal-li">
          <a class="modal-link-menu" href="#contact-us">Contact Us</a>
        </li>
      </ul>
    </nav>
    <ul class="modal-social-media">
      <li class="modal-social-media-list">
        <a
          class="modal-social-media-link"
          href="https://www.facebook.com/goITclub/  "
          target="_blank"
        >
          <svg class="modal-media-svg" width="18" height="18">
            <use href="/rodl-temp/assets/icons-QvYT-8Ah.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="modal-social-media-list">
        <a
          class="modal-social-media-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
        >
          <svg class="modal-media-svg" width="18" height="18">
            <use href="/rodl-temp/assets/icons-QvYT-8Ah.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="modal-social-media-list">
        <a
          class="modal-social-media-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
        >
          <svg class="modal-media-svg" width="18" height="18">
            <use href="/rodl-temp/assets/icons-QvYT-8Ah.svg#icon-Frame-60"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>

  <section class="coll-centr">
    <div class="container">
      <ul class="breadcrumb">
        <li><a href="/">Головна</a></li>
        <li>Відділення та центри</li>
      </ul>
      <h1>Відділення та центри</h1>

      <div id="departments-list"></div>
    </div>
  </section>

  <footer class="footer">
  <div class="container footer-container" id="footer">
    <div class="container-footer-top">
      <div class="social-logo">
        <!--<a href="#top" class="footer-logo">КП “Рівненська обласна дитяча лікарня” Рівненської обласної ради</a>-->
        <a class="header-logo" href="./index.html">
          <img src="/rodl-temp/assets/LogoRODL-B1r0G9m2.png" alt="LogoRODL" width="88">
        </a>
        <ul class="footer-social-list">
          <li class="footer-social-item">
            <a
              class="footer-social-link"
              href="https://www.facebook.com/RivneODL/"
              target="_blank"
              aria-label="Facebook link"
            >
              <svg
                class="footer-social-icon facebook-icon"
                width="20"
                height="20"
              >
                <use href="./images/icons.svg#icon-facebook-footer"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-item">
            <a
              class="footer-social-link"
              href="https://www.instagram.com/rivneodl/"
              target="_blank"
              aria-label="Instagram link"
            >
              <svg class="footer-social-icon" width="20" height="20">
                <use href="./images/icons.svg#icon-instagram-footer"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-phone-box">
        <address class="footer-address">
          <a class="footer-address-link" href="tel:+380362653835"
            >+38 (0362) 65-38-35</a
          >
        </address>
      </div>
      <div class="footer-title-box">
        <h2 class="footer-text-title">
          Простір довіри, піклування та допомоги!
        </h2>
      </div>
    </div>
    <div class="container-footer-nav">
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a href="./index.html" class="footer-link">Головна</a>
          </li>
          <li class="footer-nav-item">
            <a href="#about-us" class="footer-link">Про нас</a>
          </li>
          <li class="footer-nav-item">
            <a href="#catalog" class="footer-link">Послуги</a>
          </li>
          <li class="footer-nav-item">
            <a href="#reviews" class="footer-link">Відгуки</a>
          </li>
          <li class="footer-nav-item">
            <a href="#contact-us" class="footer-link">Контакти</a>
          </li>
        </ul>
      </nav>
      <div class="footer-address-block">
        <a
          href="https://maps.app.goo.gl/DMfgtRqFpK6xVk5o6"
          class="footer-address-text"
          target="_blank"
        >
          м. Рівне, вул. Київська, 60, 33027
        </a>
      </div>
    </div>
    <div class="footer-rights-section">
      <div class="footer-rights-text">
        <p class="footer-rights-text-block">
          Copyright © 2025 Рівненська обласна дитяча лікарня | Powered by Рівненська обласна дитяча лікарня
        </p>
      </div>
    </div>
  </div>
</footer>


  <script>
    const basePath = window.location.origin + "/rodl-temp";
    /*async function loadDepartments() {
      const response = await fetch("https://rodl-proxy.vercel.app/api/departments");
      const departments = await response.json();
      console.log(departments);
      renderDepartments(departments);
    }*/

    /* Use LocalStorage */

    async function loadDepartments() {
        const cached = localStorage.getItem("departments");
        const cachedTime = localStorage.getItem("departments_time");

        const now = Date.now();
        const DAY = 24 * 60 * 60 * 1000;

        if (cached && cachedTime && (now - cachedTime) < DAY) {
          console.log("Loaded from cache");
          return renderDepartments(JSON.parse(cached));
        }

        const response = await fetch("https://rodl-proxy.vercel.app/api/departments");
        const data = await response.json();

        // зберегти на добу
        localStorage.setItem("departments", JSON.stringify(data));
        localStorage.setItem("departments_time", now);

        renderDepartments(data);
      }

    function renderDepartments(list) {
      const container = document.getElementById("departments-list");

      list.forEach((dep, idx) => {
        const item = document.createElement("div");
        item.className = "department";

        const photos = Object.keys(dep)
          .filter(key => key.startsWith("Фото") && dep[key])
          .map(key => dep[key]);

          //style="display:none;
        item.innerHTML = `
          <div class="dep-header">
            <h2>${dep["Назва"]}</h2>
            <p class="short">${dep["Короткий опис"]}</p>
            <button class="toggle sector-button" data-id="${idx}">Докладніше ↓</button>
          </div>
            
          <div class="dep-full" id="dep-${idx}" ">
            <p class="more-text"><b>Телефон:</b> ${dep["Телефон"]}</p>
            <p class="more-text"><b>Керівник:</b> ${dep["Керівник (посада/ПІБ/спеціальність)"]}</p>
            <p class="more-text"><b>Старша медсестра:</b> ${dep["Старша медсестра"]}</p>
            <p class="full-text">${dep["Повний опис"]}</p>

            <div class="carousel">
              ${photos.map(p => `<img src="${basePath}/img/departments/${p}" alt="${dep["Назва"]}">`).join("")}
            </div>
          </div>
        `;
          parseTelephones(dep["Телефон"])
        container.appendChild(item);
      });

      initToggle();
    }

    function parseTelephones(value){
      const arrayTelephone = [];
      let cleanedArray = [];
      const separete1 = value.indexOf(";");
      const separete2 = value.indexOf(",");
      if(separete1 > 0 || separete2 > 0)
      {
        if(separete1 > 0){
          arrayTelephone.push(...value.split(";"));
          console.log(arrayTelephone);
          cleanedArray = createLinkTelephone(arrayTelephone);
          //cleanedArray = arrayTelephone.map(item => String(item).replace(/[- ()]/g, ""));
        }
          
        if (separete2 > 0){
          arrayTelephone.push(...value.split(","));
          cleanedArray = createLinkTelephone(arrayTelephone);
          //cleanedArray = arrayTelephone.map(item => String(item).replace(/[- ()]/g, ""));
        }
          
      }
          console.log(cleanedArray);
    }

    function createLinkTelephone(params) {
      clearPhone = params.map(item => String(item).replace(/[- ()]/g, ""));
     //console.log(clearPhone.length)
      /* let makeLink;

      if(clearPhone.lenght() === 6){
        makeLink = '<a href="tel:+380362'+params+'><u>(0362) 65-36-57</u></a>';
      }*/
      return clearPhone /*makeLink;*/
    }

    function initToggle() {
     // document.getElementById(`dep-${idx}`).classList.add('active');
      document.querySelectorAll(".toggle").forEach(btn => {
        btn.addEventListener("click", () => {
          const id = btn.dataset.id;
          const block = document.getElementById("dep-" + id);
          
          // Просто перемикаємо клас active
          const isActive = block.classList.toggle('active');

          // Змінюємо текст кнопки залежно від наявності класу
          if (isActive) {
            btn.innerText = "Згорнути ↑";
          } else {
            btn.innerText = "Докладніше ↓";
          }
        });
      });
    }

    loadDepartments();
  </script>
</body>

</html>