<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/Logo.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Рівненська обласна дитяча лікарня</title>
        <link rel="stylesheet" href="../css/styles.css" />
</head>
    <load src="partials/header.html" icon-path="img/sprite.svg#logo" />
    <section class="coll-centr">
        <div class="container">
            <h1>Колцентр</h1>
            <p class="coll-centr-text">Завжди раді Вам допомогти</p>
            <ul>
                <li class="li-telephon"><a href="tel:+380362460480">(0362) 460-480</a></li>
                <li class="li-telephon"><a href="tel:+380673269248">(067) 326-92-48</a></li>
                <li class="li-telephon"><a href="tel:+380992460480">(099) 246-04-80</a></li>
            </ul>
        </div>        
    </section>
    <load src="partials/footer.html" />
</html>