<section class="hero">
    <div class="container">
            <div class="hero-content-wrap">
                <div class="hero-content">
                 <h1 class="hero-title">Welcome to our <span class="hero-title-style">collection</span> of premium watches</h1>
                 <p class="hero-text">Our watches are not just timepieces, but also an expression of your personality and lifestyle. From classic designs to
                modern ones, we have a watch to suit every taste and occasion. </p>
                </div>
                <div class="hero-content-2">
                    <ul class="hero-list">
                        <li class="hero-card hero-card-1">
                         <img class="hero-img" alt="link to coment 1" width="44" height="44" srcset="/images/hero/team_1.webp 1x, /images/hero/team_1@2.webp 2x"
                        src="/images/hero/team_1.webp" >
                        </li>
                        <li class="hero-card hero-card-2">
                            <img class="hero-img" alt="link to coment 2" width="44" height="44" srcset="/images/hero/team_2.webp 1x, /images/hero/team_2@2.webp 2x"
                        src="/images/hero/team_2.webp" >
                     </li>
                        <li class="hero-card hero-card-3">
                          <img class="hero-img" alt="link to coment 3" width="44" height="44" srcset="/images/hero/team_3.webp 1x, /images/hero/team_3@2.webp 2x"
                        src="/images/hero/team_3.webp">
                        </li>
                    </ul>
                     <a href="#footer" class="hero-scroll">Scroll down</a>
                 </div>
            </div>
            <picture >
                <source media="(min-width:1280px)"
                srcset="/images/hero/clock_3.webp 1x, /images/hero/clock_3@2.webp 2x">
                <source media="(min-width:768px)"
                srcset="/images/hero/clock_2.webp 1x, /images/hero/clock_2@2.webp 2x">
                <source media="(max-width:767px)"
                srcset="/images/hero/clock_1.webp 1x, /images/hero/clock_1@2.webp 2x">
                <img class="hero-picture" src="/images/hero/clock_1.webp" alt="Clock">
            </picture>
    </div>
    </section>
