
<section class="hero">
    <div class="container ">
    <div class="hero-container">
            <div class="hero-content-wrap">
                <div class="hero-content">
                 <h1 class="hero-title">Рівненська обласна дитяча лікарня</h1>
                 <p class="hero-text">Сучасний багатопрофільний медичний заклад, що надає широкий високоспеціалізований та унікальний спектр медичних послуг дітям. Кваліфікація та досвід. Ми зібрали колектив досвідчених, висококваліфікованих лікарів та медичного персоналу, що постійно вдосконалюють свої професійні навички. Наші послуги доступні для всіх, хто шукає якісну медичну допомогу для своєї дитини. Докладніше</p>
                </div>
            </div>
            <div class="hero-button">
                <!-- S<p>OK</p>-->
                <button class="hero-button-service" type="button">Записатись Он-лайн</button>
                <button class="hero-button-service" type="button">Кол-центр</button>
                <button class="hero-button-service" type="button">Безоплатні послуги</button>
                <button class="hero-button-service" type="button">Платні послуги</button>
            </div>
        </div>

    <!-- SWIPER -->
    <div class="swiper hero-swiper">
  <!--      <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="/images/hero/title_1.jpg" alt="Фото лікарні 1" />
          </div>
          <div class="swiper-slide">
            <img src="/images/hero/title_2.jpg" alt="Фото лікарні 2" />
          </div>
          <div class="swiper-slide">
            <img src="/images/hero/title_3.jpg" alt="Фото лікарні 3" />
          </div>
        </div> -->
 
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url('/images/hero/title_1.jpg');"></div>
            <div class="swiper-slide" style="background-image: url('/images/hero/title_2.jpg');"></div>
            <div class="swiper-slide" style="background-image: url('/images/hero/title_3.jpg');"></div>
          </div>
  
        <!-- Додаткові кнопки навігації -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>     
<!-- 
            <picture >
                <source media="(min-width:1280px)"
                srcset="/images/hero/clock_3.webp 1x, /images/hero/clock_3@2.webp 2x">
                <source media="(min-width:768px)"
                srcset="/images/hero/clock_2.webp 1x, /images/hero/clock_2@2.webp 2x">
                <source media="(max-width:767px)"
                srcset="/images/hero/clock_1.webp 1x, /images/hero/clock_1@2.webp 2x">
                <img class="hero-picture" src="/images/hero/clock_1.webp" alt="Clock">
            </picture>-->
    </div>
    </section>

    <script>
        const swiper = new Swiper(".hero-swiper", {
          loop: true,
          autoplay: {
            delay: 3000,
            disableOnInteraction: false,
          },
          pagination: {
            el: ".swiper-pagination",
            clickable: true,
          },
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
        });
      </script>
