<title>Facebook адаптивний iframe</title>
<style>

    .news_title{
        font-weight: 600;
        font-size: 32px;
        line-height: 1;
        letter-spacing: -0.02em;
        color: #0c0c0c;
        text-transform: none;
        padding-top: 24px;
        padding-bottom: 24px;
        text-align: start;
    }

  .fb-frame {
    width: 100%;
    max-width: 500px;
    height: 500px;
    border: none;
    overflow: hidden;
  }

    .link-news{
        color:#1E6BC4;
    }
    .p-news{
        font-weight: 400;
        font-size: 18px;
    }

    .news_main{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

.news_facebook {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-block: 20px;
  align-items: center; /* Щоб блоки по центру */
}

/* Дочірні блоки — обмежуємо ширину */
.news_text,
.news_fb {
  width: 100%;
  max-width: 580px;
}

/* Робимо в два стовпці на великих екранах */
@media screen and (min-width: 768px) {
    .news_title{
        font-weight: 600;
        font-size: 48px;
        line-height: 0.91;
        letter-spacing: -0.02em;
        color: #0c0c0c;
        text-transform: none;
        padding-bottom: 40px;
    }
  .news_facebook {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .news_text,
  .news_fb {
    width: 50%;
  }
}

/* Дві колонки лише з 1280px */
@media screen and (min-width: 1280px) {
  .news_main{
       display: flex;
       flex-direction: row;
       gap: 40px;
   }

   .news_facebook {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .news_text,
  .news_fb {
    width: 100%;
    max-width: 580px;
  }
}
</style>

<h2 class="news_title">Слідкуйте за нашими новинами</h2>

<div class="news_main">
    <div class="news_text">
      <p class="p-news">
        У цьому блоці відображаються актуальні новини та оголошення нашої лікарні. Ми публікуємо важливу інформацію для пацієнтів та їхніх родин, розповідаємо про нові можливості, проєкти та події.
      </p>
      <p class="p-news">
        Переглядайте стрічку новин нижче або відвідайте нашу <a class="link-news" href="https://www.facebook.com/RivneODL" target="_blank">офіційну Facebook-сторінку</a>, щоб бути в курсі всього, що відбувається в закладі.
      </p>
    </div>
<div id="fb-root"></div>
<div class="fb-page" 
    data-href="https://www.facebook.com/RivneODL" 
    data-tabs="timeline" 
    data-width="500" 
    data-height="500" 
    data-small-header="false" 
    data-adapt-container-width="true" 
    data-hide-cover="false" 
    data-show-facepile="true">
    <blockquote cite="https://www.facebook.com/RivneODL" class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/RivneODL">Рівненська обласна дитяча лікарня / Rivne regional children’s hospital</a>
    </blockquote>
</div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v23.0"></script>
</div>