<!--https://script.google.com/macros/s/AKfycbyysjtF1HI7h4-mQFPkzQxmdviXv8X6Izg91vaIvYZ4fefpFPemrWbvFCIjK5pe36HCpA/exec
-->
<div id="reviews"></div>
<script>
console.log("ok");
</script>

<script>
fetch("https://script.google.com/macros/s/AKfycbyysjtF1HI7h4-mQFPkzQxmdviXv8X6Izg91vaIvYZ4fefpFPemrWbvFCIjK5pe36HCpA/exechttps://script.google.com/macros/s/AKfycbyysjtF1HI7h4-mQFPkzQxmdviXv8X6Izg91vaIvYZ4fefpFPemrWbvFCIjK5pe36HCpA/exec")
  .then(res => res.json())
  .then(data => {
    const container = document.getElementById("reviews");
    console.log(data);
    
    data.forEach(r => {
      container.innerHTML += `
        <div class="review">
          <h4>${r["Автор"]}</h4>
          <p>⭐️ ${r["Рейтинг"]}/5</p>
          <p>${r["Текст відгуку"]}</p>
          <small>${r["Дата"]}</small>
          <hr>
        </div>`;
    });
  });
</script>
