<section class="reviews" id="reviews">
  <div class="container">
  <h2 class="h2-title">Reviews</h2>
  <ul class="reviews-container">
    <li class="reviews-items">
      <img
        src="/images/hero/team_2.webp"
        srcset="/images/hero/team_2.webp 1x, /images/hero/team_2@2.webp 2x"
        width="56"
        height="56"
        alt="Jon"
      />
      <div class="title_text">
        <h3 class="reviews-name">Jon Wax</h3>
        <p class="reviews-text">
          Buying a watch from was the best choice for me. The design is
          perfectly combined with high quality materials. The strap fits nicely
          on the hand, and the mechanism works flawlessly.
        </p>
      </div>
    </li>
    <li class="reviews-items">
      <img
        src="/images/hero/team_1.webp"
        srcset="/images/hero/team_1.webp 1x, /images/hero/team_1@2.webp 2x"
        width="56"
        height="56"
        alt="Victoria"
      />
      <div class="title_text">
        <h3 class="reviews-name">Victoria Romashenko</h3>
        <p class="reviews-text">
          Can't take my eyes off my watch from. Every time I put it on, it is
          admired by those around me. The build quality and attention to detail
          make it a real gem among my accessories.
        </p>
      </div>
    </li>
    <li class="reviews-items">
      <img
        src="/images/hero/team_3.webp"
        srcset="/images/hero/team_3.webp 1x, /images/hero/team_3@2.webp 2x"
        width="56"
        height="56"
        alt="Anastasia"
      />
      <div class="title_text">
        <h3 class="reviews-name">Anastasia Trachuk</h3>
        <p class="reviews-text">
          My watch from is a real masterpiece. Every detail impresses with the
          high quality of execution. Special features like [specify features]
          make it an indispensable companion in my daily life.
        </p>
      </div>
    </li>
  </ul>
  </div>
</section>
