<section class="sale" id="sale">
  <div class="container sale-cont">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-cont-information">
      <div class="sale-watch">
      <ul class="sale-list-image">
        <li class="sale-img-items">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                /images/sale-watch/watch-sale1.webp    1x,
                /images/sale-watch/watch-sale1@2x.webp 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /images/sale-watch/watch-sale1-mobile.webp    1x,
                /images/sale-watch/watch-sale1-mobile@2x.webp 2x
              "
            />
            <img
              src="/images/sale-watch/watch-sale1-mobile.webp"
              alt="watch-sale1"
            />
          </picture>
        </li>
        <li class="sale-img-items">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                /images/sale-watch/watch-sale2.webp    1x,
                /images/sale-watch/watch-sale2@2x.webp 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /images/sale-watch/watch-sale2-mobile.webp    1x,
                /images/sale-watch/watch-sale2-mobile@2x.webp 2x
              "
            />
            <img
              src="/images/sale-watch/watch-sale2-mobile.webp"
              alt="watch-sale1"
            />
          </picture>
        </li>
        <li class="sale-img-items">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                /images/sale-watch/watch-sale3.webp    1x,
                /images/sale-watch/watch-sale3@2x.webp 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /images/sale-watch/watch-sale3-mobile.webp    1x,
                /images/sale-watch/watch-sale3-mobile@2x.webp 2x
              "
            />
            <img
              src="/images/sale-watch/watch-sale3-mobile.webp"
              alt="watch-sale1"
            />
          </picture>
        </li>
        <li class="sale-img-items">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                /images/sale-watch/watch-sale4.webp    1x,
                /images/sale-watch/watch-sale4@2x.webp 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                /images/sale-watch/watch-sale4-mobile.webp    1x,
                /images/sale-watch/watch-sale4-mobile@2x.webp 2x
              "
            />
            <img
              src="/images/sale-watch/watch-sale4-mobile.webp"
              alt="watch-sale1"
            />
          </picture>
        </li>
      </ul>
      <div class="sale-watch-main-model">
        <picture>
          <source
            media="(min-width: 768px)"
            srcset="
              /images/sale-watch/watch-sale5.webp    1x,
              /images/sale-watch/watch-sale5@2x.webp 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              /images/sale-watch/watch-sale5-mobile.webp    1x,
              /images/sale-watch/watch-sale5-mobile@2x.webp 2x
            "
          />
          <img
            src="/images/sale-watch/watch-sale5-mobile.webp"
            alt="watch-sale1"
          />
        </picture>
      </div>
      </div>
      
      <div class="sale-description">
        <p class="sale-model-descript">
          MARQ® Commander (Gen 2) - Carbon Edition
        </p>
        <p class="sale-model-descript-accent">Product tag: 706587</p>

        <ul class="sale-price-list">
          <li class="sale-new-price-item">€1500</li>
          <li class="sale-price-item">€3000</li>
        </ul>
        <p class="sale-model-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <ul class="sale-tags-list">
          <li class="sale-tags-items">Fused carbon fiber</li>
          <li class="sale-tags-items">Grade-5 Titanuim</li>
          <li class="sale-tags-items">Athlete</li>
          <li class="sale-tags-items">Golfer</li>
          <li class="sale-tags-items">Commander</li>
          <li class="sale-tags-items">Adventurer</li>
        </ul>
      </div>
    </div>
  </div>
</section>
