<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/Logo.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Рівненська обласна дитяча лікарня</title>
        <link rel="stylesheet" href="../css/styles.css" />
</head>

  <body>
    <load src="partials/header.html" icon-path="img/sprite.svg#logo" />
    <section class="coll-centr">
        <div class="container">
            <h1>Відділення та центри</h1>

        </div>        
    </section>
    <load src="partials/footer.html" />


</body>
</html>
<script>
     document.addEventListener('DOMContentLoaded', function() {
    new Accordion('#accordion', {
      duration: 300, // скорость анимации (в миллисекундах)
      showMultiple: false, // можно ли открывать сразу несколько блоков
      openOnInit: [0], // можно указать, какой аккордеон открыть при загрузке (например, 0 - первый)
      elementClass: 'ac-item', // класс элемента
      triggerClass: 'ac-trigger', // класс триггера
      panelClass: 'ac-panel', // класс панели
      activeClass: 'is-active' // класс для открытого элемента
    });
  });

  </script>