.coll-centr{
    padding-top: 100px;
}

.coll-centr-text{
    font-size: 24px;
    padding: 10px;
}

.li-telephon{
    font-size: 24px;
    padding: 10px;
  transition: 0.3s;
}

.li-telephon:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #1276a0;
}
/* Стиль крихти */
ul.breadcrumb {
    padding: 16px 0px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 5px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
    font-size: 18px
}

ul.breadcrumb li a:hover {
    color: #1276a0;
    text-decoration: underline;
}