  .carousel {
      display: flex;
      overflow-x: auto;
      gap: 10px;
      scroll-snap-type: x mandatory;
  }

  .carousel img {
      height: 180px;
      border-radius: 10px;
      scroll-snap-align: start;
  }

  .departments-list{
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .department{
    border-radius: 30px;
    background-color: #c0e9fa;
    padding: 10px 20px;
    margin-top: 20px;  
  }

  h2{
    padding-top: 24px;
    padding-bottom: 16px;
  }

  .more-text{
    padding-top: 12px;
  }

  .full-text{
    padding-top: 12px;
    font-size: 18px;
    line-height: 1.2;
  }

  .short {
      font-size: 18px;
      line-height: 1.2;
      padding-bottom: 12px;
  }

  .sector-button {
      width: 240px;
      height: 36px;
      /*background-color: #00629b;*/
      color:#00629b;/* #fbfbfb;*/
      border: 0px;
      border-radius: 20px;
      font-size: 18px;
      padding: 12px,0;

      border-width: 0px;
      background-color: transparent;
      text-transform: uppercase;
      text-decoration: underline;

      transition: background-color 0.3s, color 0.3s;
      /*cursor: pointer;*/
  }

  .sector-button:hover {
      color: #1375ae;
  }
/*
  .dep-full{
    transition: display 1.3s, color 10.3s;
    color: #585858;
  }*/

  .dep-full {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition:
    max-height 0.6s ease-in-out,
    opacity 0.5s ease-in-out;
  }
  
  .dep-full.active {
    max-height: 5000px;
    opacity: 1;
    margin-top: 10px;
   }