/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('/fonts/fonts.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./hero.css');
@import url('./faq.css');
@import url('./about.css');
@import url('./catalog.css');
@import url('./advertisement.css');
@import url('./sale.css');
@import url('./reviews.css');
@import url('./contact.css');
@import url('./footer.css');
@import url('./mobile-menu.css');
@import url('./news-preview.css');


/*Page collcentr*/
@import url('./collcentr.css');
@import url('./sectors.css');

